#App {
  text-align: center;
}

#nav-panel-list a {
  width: 100%;
  text-decoration: none;
  color: #454545;
  font-weight: 800;
  padding: 1rem;
}

#nav-panel-list a.active {
  background-color: #96bf01;
  color: #fff;
}

#nav-app-logo {
  height: 15vh;
  width: 100%;
  object-fit: contain;
}

#nav-social-icons path {
  fill: #454545;
}

#nav-social-icons svg {
  height: 15px;
  width: 15px;
}
