#App {
  text-align: center;
}

#nav-panel-list a {
  width: 100%;
  text-decoration: none;
  color: #454545;
  font-weight: 800;
  padding: 1rem;
}

#nav-panel-list a.active {
  background-color: #96bf01;
  color: #fff;
}

#nav-app-logo {
  height: 15vh;
  width: 100%;
  object-fit: contain;
}

#nav-social-icons path {
  fill: #454545;
}

#nav-social-icons svg {
  height: 15px;
  width: 15px;
}

.carousel-button-group {
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.carousel-button-left,
.carousel-button-right {
  width: 3rem;
  padding: 1rem 2rem;
  background: #96bf01;
  border-radius: 0;
  cursor: pointer;
  border: none;
  display: flex;
}

.carousel-button-left {
  justify-content: start;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.carousel-button-right {
  justify-content: end;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.main-carousel-container {
  width: 90%;
  margin: 0 auto;
}

.corousel-item-pic-container {
  padding: 2rem 0;
}

.corousel-item-pic-container img {
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
  object-fit: cover;
}

.disable-button {
  background: #a1a1a1;
}

@media screen and (min-width: 600px) {
  .carousel-button-group {
    top: 50%;
    left: 0;
    right: 0;
  }

  .corousel-item-pic-container img {
    height: 20rem;
    width: 20rem;
  }
}
