body {
  margin: 0;
  font-family:
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

a {
  text-decoration: none;
}

.discoverLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.roomImg {
  width: 15rem;
  object-fit: cover;
  margin-left: 20px;
  height: 15rem;
  border-radius: 50%;
  margin-top: 5rem;
}

.back-btn {
  margin-bottom: 20px;
  margin-top: 0;
}

@media screen and (min-width: 900px) {
  .roomImg {
    width: 70%;
    height: 80vh;
    object-fit: contain;
    border-radius: 0;
  }
 
}