body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.discoverLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.roomImg {
  object-fit: cover;
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  margin: 5rem 0;
}

.back-btn {
  position: absolute;
  bottom: 1rem;
  color: #ffffff;
}

.upload-image-input {
  font-size: 1rem;
  background: white;
  border-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
  width: 300px;
  outline: none;
}

::file-selector-button,
::-webkit-file-upload-button {
  color: white;
  background: #96bf01;
  padding: 20px;
  border: none;
  border-radius: 50px;
  outline: none;
}

::-webkit-file-upload-button:hover {
  background: #6f8426;
  color: white;
}

.details-span{
font-weight: 400;
}

@media screen and (min-width: 600px) {
  .roomImg {
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
  }
}
