body {
  margin: 0;
  font-family:
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

.roomImg{
  width: 60%;
  height: 'auto';
  border-radius: 50%;
}
