body {
  margin: 0;
  font-family:
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

a {
  text-decoration: none;
}

.discoverLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.roomImg {
  width: 70%;
  object-fit: contain;
  margin-left: 20px;
  height: 80vh;
}

.back-btn {
  margin-bottom: 20px;
  margin-top: 0;
}
